.drop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop-down-button-col {
  position: absolute;
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 12px 12px;
  border-left: gray 2px solid;
  border-right: gray 2px solid;
  border-bottom: gray 2px solid;
}

.drop-down-current {
  cursor: pointer;
  border: none;
  padding: 10px;
  width: 150px;
  background-color: #d9d0b5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: gray 2px solid;
}

.bottom-round {
  border-radius: 10px 10px 0px 0px;
}

.drop-down-current:hover {
  background-color: #b5bad9a8;
}

.drop-down-button {
  cursor: pointer;
  min-width: 170px;
  border: none;
  padding: 10px 15px;
  background-color: #d9d0b5;
  font-family: "Comfortaa";
  text-align: left;
}

.drop-down-button:last-child {
  border-radius: 0px 0px 10px 10px;
}

.drop-down-button:hover {
  background-color: #e3ddd1;
}

.drop-down:focus {
  outline: none;
}
