body {
  background-color: antiquewhite;
}

.title {
  font-size: 30px;
  font-weight: bolder;
  padding-top: 15px;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-row {
  padding: 0px 10px 2px 10px;
  background-color: #d9d0b5;
  display: flex;
  flex-direction: row;
}

.grid-row:first-child {
  padding: 10px 10px 2px 10px;
  border-radius: 10px 10px 0px 0px;
}

.grid-row:nth-child(3n) {
  padding: 0px 10px 10px 10px;
}

.grid-row:nth-child(8) {
  padding: 0px 10px 0px 10px;
}

.grid-row:last-child {
  padding: 2px 10px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.grid-block {
  height: 50px;
  width: 50px;
  margin: 2px;
  background-color: #e3ddd1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  outline: none;
  caret-color: transparent;
}

.grid-block:focus {
  background-color: #b5bad9a8;
  border: none;
}

.grid-block:nth-child(3n) {
  margin-right: 10px;
}

.grid-block:nth-child(9n) {
  margin-right: 0px;
}

.center-row-flex {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.space-between-flex{
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.basic-button {
  background-color: #d9d0b5;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.basic-button:hover {
  background-color: #b5bad9a8;
}

.bold {
  font-weight: 900;
  font-size: 20px;
  color: black;
}

.bold:focus{
  background-color: lightcoral;
}

.red {
  outline: 2px red solid;
}

.selected {
  outline: 2px gray solid;
}
