@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap");

body {
  margin: 0;
  font-family: "Comfortaa";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Comfortaa";
}

.center-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.space-between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
